p, li {
    color: rgb(41, 134, 77);
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

h1 {
    font-size: 56px;
    margin: 0;
    padding: 40px 0;
    color: #00539F;
    text-shadow: 4px 4px 4px #aaa;
    font-family: 'Tangerine', serif;  
}

table {
    color: rgb(192, 34, 212);
    font-size: 15px;
    letter-spacing: 2px;
}

html {
    background-color: #a8cbec;
    font-size: 15px; /* px means "pixels": the base font size is now 10 pixels high  */
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #f8b75b;
    padding: 0 20px 20px 20px;
    border: 3px solid black;
}